:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --size-base-space: 8px;
  --size-btn-size: 50px;
  --radius-common: 5px;
  /* animation */
  --
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_logo .logo {
  transition: 300ms ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: var(--size-base-space);
  margin-right: var(--size-base-space);
  transition: 300ms ease;
}

.btn:hover, .logo:hover {
  transform: scale(1.1);
}

.nav_button {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size-btn-size);
  height: var(--size-btn-size);
}

.colorBtn {
  border-radius: 5px;
  padding: calc(var(--size-base-space) * 2);
  border-radius: var(--radius-common);
}

.blue {
  background-color: var(--color-blue);
} 

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 30%;
  height: 30%;
  overflow-y: auto;
}

.items .item {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: var(--size-base-space);
  margin-bottom: var(--size-base-space);
}

.items .item .img_thumbnail {
  width: var(--size-btn-size);
  height: var(--size-btn-size);
}

.img_thumbnail {
  padding: var(--size-base-space);
}
